* {
  margin: 0;
  padding: 0;
}

.bg {
  width: 100vw;
  height: 100vh;
}

.mx-3 {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 35% 5%;
}

.nav {
  padding: 5% 9% 0%;
}

.about-container {
  width: 100%;

}

p {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.content-wrapper {
  font-family: "Teachers", sans-serif;
  font-size: 4em;
  font-weight: 700;
  font-style: normal;
}

.nav-item {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
img {
    max-width: 100%;
}

/* About Me Section-Home Page */

.about-container {
  margin: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center; /* This vertically centers the image with the text */
  justify-content: space-between; /* Creates space between elements */
}

.about-text {
  flex: 1; /* The text will take up available space */
  margin-right: 20px; /* Adds space between the text and image */
}

.about-image {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover; /* Keeps the image proportionate */
}